<% layout("./layouts/boilerplate.ejs")%>

<div class="row">
  <div class="col-8 offset-2">
    <form
      action="/listings"
      method="post"
      novalidate
      class="mb-3 needs-validation"
      enctype="multipart/form-data"
    >
      <h2 class="mb-3">create a new listing</h2>

      <div class="mb-3">
        <label for="title" class="form-label">Title:</label>
        <input
          type="text"
          name="listing[title]"
          placeholder="EX: Hotel Navin"
          class="form-control"
          required
        />
        <div class="valid-feedback">Title looks good</div>
        <div class="invalid-feedback">Plese enter a Title</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description:</label>
        <textarea
          name="listing[description]"
          id="description"
          placeholder="Ex: One of the finest hotel in hubli with extraordinary view of unakal lake"
          class="form-control"
          required
        ></textarea>
        <div class="invalid-feedback">Please enter a short description.</div>
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Upload listing image:</label>
        <input
          type="file"
          name="listing[image][url]"
          class="form-control"
          required
        />
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price:</label>
          <input
            name="listing[price]"
            placeholder="Ex: &#x20B9;900/night"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please enter a valid pricing.</div>
        </div>

        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country name:</label>
          <input
            type="text"
            name="listing[country]"
            placeholder="Ex: India"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please enter a valid country name</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location:</label>
        <input
          type="text"
          name="listing[location]"
          placeholder="Ex: karnataka,Hubli-580020"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please enter a valid location.</div>
      </div>

      <button class="btn add-btn mb-3">Add listing</button>
    </form>
  </div>
</div>
